body, menu {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

menu {
    background-image: url(CIMG3125.JPG);
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
}

menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    /*
    ### Cambia la dirección en la que se despliega el contenido.
    *COLUMN* Cambia el formato de display a block
    flex-direction: column; 
    
    */
}

menu li {
    padding: 2em;
    list-style: none;
}

menu a {
    text-decoration: none;
    color: white;
}

menu a:hover {
    color: rgba(0, 0, 0, 0.6);
}